version: '3'
services:
  strapi-de-sol1:
    container_name: strapi-de-sol1
    build:
      dockerfile: ./Dockerfile.prod
    image: strapi-de-sol1:latest
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: strapi-de-sol1DB
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      APP_KEYS: ${APP_KEYS}
      NODE_ENV: ${NODE_ENV}
    volumes:
      - ./config:/opt/app/config
      - ./config.json:/opt/app/config.json
      - ./src:/opt/app/src
      - lookup_node_modules:/opt/app/src/plugins/lookup/node_modules/
      - ./package.json:/opt/package.json
      - ./package-lock.json:/opt/package-lock.json
      - ./.env:/opt/app/.env
      - ./public:/opt/app/public
      - ./backup:/opt/app/backup
    ports:
      - 1344:1337
    networks:
      - strapi-de-sol1
    depends_on:
      strapi-de-sol1DB:
        condition: service_healthy

  strapi-de-sol1DB:
    container_name: strapi-de-sol1DB
    platform: linux/amd64 #for platform error on Apple M1 chips
    restart: unless-stopped
    env_file: .env
    image: postgres:12.0-alpine
    shm_size: '2gb'
    deploy:
      resources:
        limits:
          cpus: '3.0' # number of cores
          memory: 3GB
        reservations:
          cpus: '2'
          memory: 2GB
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    command: postgres -c statement_timeout=10min
    volumes:
      #- strapi-de-sol1-data:/var/lib/postgresql/data/ #using a volume
      - ./data/postgresql/data:/var/lib/postgresql/data/ # if you want to use a bind folder
    ports:
      - 5439:5432
    networks:
      - strapi-de-sol1
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U strapi"]
      interval: 5s
      timeout: 5s
      retries: 3

volumes:
  strapi-de-sol1-data:
  lookup_node_modules:

networks:
  strapi-de-sol1:
    name: strapi-de-sol1
    driver: bridge
